# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# Données sensibles (ne jamais pusher !)
data/raw/
*.xlsx
*.csv
*.json

# Databricks
.databricks/

# VS Code / Cursor
.vscode/
.cursor/

# Config secrets
config_secret.py
secrets.yml